<div class="container contenedor-redes d-flex justify-content-center mb-5 pb-5">
  <div class="card text-white bg-dark mb-3 card-redes">
    <div class="card-header text-center">
      <h4 class="titulo-contact">Or through my networks</h4>
    </div>
    <div class="card-body d-flex flex-wrap justify-content-center">
      <div class="logo mx-2 my-2"><img width="70" src="../../../../assets/github.svg" /></div>
      <div class="logo mx-2 my-2"><img width="70" src="../../../../assets/instagram.svg" /></div>
      <div class="logo mx-2 my-2"><img width="70" src="../../../../assets/linkedin.svg" /></div>
      <div class="logo mx-2 my-2"><img width="70" src="../../../../assets/facebook.svg" /></div>
      <div class="logo mx-2 my-2"><img width="70" src="../../../../assets/mail.svg" /></div>
    </div>
  </div>
</div>
